.movie {
    background: #222;
    border-radius: 10px;
    filter: drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.08));
    width: 270px;
    height: 218px;
}

.movie__info {
    display: flex;
    justify-content: space-between;
    padding: 11px 12px 13px 12px;   
}

.movie__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movie__name {
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.movie__duration {
    color: #8B8B8B;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
}

.movie__save {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    background-color: #313131;
    cursor: pointer;
    transition: opacity .08s linear;
}

.movie__save:hover {
    opacity: .75;
    transition: opacity .08s linear;
}

.movie__save_saved {
    background: #2BE080;
}

.movie__save_delete {
    background: none;
    background-image: url('../../images/movie-delete.svg');
    border: none;
}

.movie__save_delete:hover {
    opacity: .75;
    transition: opacity .08s linear;
}

@media screen and (max-width: 940px) {
    .movie {
        width: 339px;
        height: 257px;
    }
    .movie__picture {
        width: 339px;
        height: 190px;
    }
}

@media screen and (max-width: 360px) {
    .movie {
        width: 300px;
        height: 235px;
    }

    .movie__picture {
        width: 300px;
        height: 168px;
    }
}