.account  {
    display: flex;
    flex-direction: column;
    width: calc(100% - 70px * 2);
    margin: 0 auto;
    padding-top: 74px;
}

.account__title {
    margin: 0 0 123px 0;
    text-align: center;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;

}

.account__info {
    display: flex;
    flex-direction: column;
    margin: 0 auto 220px auto;
    list-style: none;
    padding: 0;
    height: 62px;
    justify-content: space-between;
}

.account__box {
    display: flex;
    width: 410px;
    justify-content: space-between;
}

.account__name {
    color: #FFF;
    font-size: 11px;
    font-weight: 500;
    line-height: normal;
}

.account__username {
    color: #FFF;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
}

.account__email {
    color: #FFF;
    font-size: 11px;
    font-weight: 500;
    line-height: normal;
}

.account__useremail {
    color: #FFF;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
}

.account__line {
    height: 1px;
    background: #424242;
}

.account__edit {
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
    cursor: pointer;
    transition: opacity .1s linear;
}

.account__edit:hover {
    opacity: .9;
    transition: opacity .1s linear;
}

.account__exit {
    color: #EE3465;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    transition: opacity .1s linear;
}

.account__exit:hover {
    opacity: .9;
    transition: opacity .1s linear;
}

@media screen and (max-width: 768px) {
    .account  {
        padding-top: 254px;
    }

    .account__title  {  
        margin: 0 0 96px 0;
    }

    .account__info  {  
        margin: 0 auto 210px auto;
    }
}

@media screen and (max-width: 560px) {
    .account  {
        width: calc(100% - 30px * 2);
        padding-top: 88px;
    }

    .account__box {
        width: 260px;
    }

    .account__title  {  
        margin: 0 0 80px 0;
    }

    .account__info  {  
        margin: 0 auto 379px auto;
    }

    .account__edit {
        font-size: 12px;
    }
    
    .account__exit {
        font-size: 12px;
    }
}