.footer {
    display: flex;
    flex-direction: column;
    background: #202020;
    align-items: center;
    width: calc(100% - 30px * 2);
    margin: 0 auto 20px auto;
}

.footer__title {
    margin-bottom: 20px;
    color: #8B8B8B;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: #424242 1px solid;
    padding-top: 20px;
}

.footer__year {
    display: flex;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

.footer__links {
    display: flex;
    gap: 20px;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.footer__sources {
    margin: 0;
    padding: 0;
}

.footer__link {
    text-decoration: none;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    transition: opacity .05s linear;
}

.footer__link:hover {
    opacity: .7;
    transition: opacity .1s linear;
}

@media screen and (max-width: 768px) {
    .footer {
        width: calc(100% - 30px * 2);
    }
}

@media screen and (max-width: 400px) {
    .footer {
        width: calc(100% - 10px * 2);
    }

    .footer__copyright {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 28px;
    }

    .footer__links {
        flex-direction: column;
        gap: 9px;
    }

    .footer__link {
        text-align: center;
        font-size: 12px;
    }

    .footer__year {
        margin-top: 30px;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        color: #8B8B8B;
    }

    .footer__title {
        font-size: 12px;
    }
}

